<!DOCTYPE html>
<html>
  <head>
    <title>Backstock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1500px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Backstock Inventory Application</h1>
	  <br>
      <h4>Menu:</h4>
	  <div class="row" style="max-width: 1200px;">
	    <div class="col-xs-2 text-left">
	      <div class="previous">
		    <form role="form" name="add-csv-form" method='POST' action='/' enctype="multipart/form-data">
		      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		      <div class="form-group">
			    <label for="csv-input">Add .csv:</label>
			    <input type="file" class="form-control-file" name="csv-input" id="csv">
				<input type="submit" name="csv-submit" />
		      </div>
		    </form>
	      </div>
	    </div>	  
	    <div class="col-xs-2 text-center">
          <div class="next">
	        <form role="form" name="add-item-form" method='POST' action='/'>
	          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		      <button name="add-item" id="add" type="submit" class="btn btn-primary btn-block" style="align: center; background-color: #CE2029; margin-top: 5px; max-width: 200px;">Add Item</button>
	        </form>
		  </div>
		</div>
		<div class="col-xs-2 text-right">
          <div class="next">
	        <form role="form" name="search-item-form" method='POST' action='/'>
	          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		      <button name="search-item" id="search" type="submit" class="btn btn-primary btn-block" style="background-color: #CE2029; margin-top: 5px; max-width: 200px;">Search Item</button>
	        </form>
		  </div>
		</div>
	  </div>
	  <br>
	  <br>
	  {% if loading_search %}
        <form role="form" name="search-form" method='POST' action='/'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	      <div class="form-group">
            <label for="search-type" style="max-width: 505px;">Search By:</label>
            <select class="form-control" name="column" id="column-type" style="max-width: 500px;">
              <option>id</option>
              <option>description</option>
              <option>last_sold</option>
              <option>shelf_life</option>
			  <option>department</option>
              <option>price</option>
	          <option>unit</option>
	          <option>x_for</option>
	          <option>cost</option>
            </select>
          </div>
		  <div class="form-group">
		    <input type="text" name="item" class="form-control" id="item-box" placeholder="Enter item description" style="max-width: 500px;" autofocus required>
		  </div>
		  <button name="send-search" type="submit" class="btn btn-success btn-default">Search</button>
        </form>
        <br>
	  {% elif loading_add_item %}
	    <form role="form" name="add-form" method='POST' action='/'>
	      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		  <div class="form-group">
		    <label for="id-add" style="max-width: 505px;">ID:</label>
		    <input type="text" name="id-add" class="form-control" id="add-id" placeholder="Enter ID" style="max-width: 500px;" autofocus required>
		  </div>
		  <div class="form-group">
		    <label for="description-add" style="max-width: 505px;">Description:</label>
		    <input type="text" name="description-add" class="form-control" id="add-description" placeholder="Enter description" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="last-sold-add" style="max-width: 505px;">Last Sold:</label>
		    <input type="text" name="last-sold-add" class="form-control" id="add-last-sold" placeholder="Enter last sold date (mm/dd/yyyy)" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="shelf-life-add" style="max-width: 505px;">Shelf Life:</label>
		    <input type="text" name="shelf-life-add" class="form-control" id="add-shelf-life" placeholder="Enter shelf life" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="department-add" style="max-width: 505px;">Department:</label>
		    <input type="text" name="department-add" class="form-control" id="add-department" placeholder="Enter department" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="price-add" style="max-width: 505px;">Price:</label>
		    <input type="text" name="price-add" class="form-control" id="add-price" placeholder="Enter price" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="unit-add" style="max-width: 505px;">Unit of Measurement:</label>
		    <input type="text" name="unit-add" class="form-control" id="add-unit" placeholder="Enter unit of measurement" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="xfor-add" style="max-width: 505px;">xFor:</label>
		    <input type="text" name="xfor-add" class="form-control" id="add-xfor" placeholder="Enter xFor" style="max-width: 500px;" required>
		  </div>
		  <div class="form-group">
		    <label for="cost-add" style="max-width: 505px;">Cost:</label>
		    <input type="text" name="cost-add" class="form-control" id="add-cost" placeholder="Enter cost" style="max-width: 500px;" required>
		  </div>
		  <button name="send-add" type="submit" class="btn btn-success btn-default">Add</button>
        </form>
        <br>
	  {% elif loading_add_csv %}
		<br>
	  {% endif %}
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
      <br>
	  {% if item_added %}
	    {% for item in items %}
		  <h4>Item with ID: {{ item.id }} successfully added!"</h4>
		{% endfor %}
	  {% elif item_searched %}
	    <h4>Found {{ item_length }} items:</h4>
		{% for item in items %}
			<h5>ID: {{ item['id'] }} | Description: {{ item['description'] }} | Last Sold: {{ item['last_sold'] }} | Shelf Life: {{ item['shelf_life'] }} | Department: {{ item['department'] }} | Price: {{ item['price'] }} | Unit of Measurement: {{ item['unit'] }} | xFor: {{ item['x_for'] }} | Cost: {{ item['cost'] }}</h5>
			<br>
        {% endfor %}
	  {% else %}
		{% for item in items %}
			<h4>{{ item }}<h4>
		{% endfor %}
      {% endif %}
    </div>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  <br>
  <br>
  <footer class="page-footer" style="position: fixed; text-align: center;">
    <div class="container text-center">
	  <p>Created by: Alex Thola | Contact information: <a href="mailto:alexthola@gmail.com">alexthola@gmail.com</a></p>
	</div>
  </footer>
</html>